canvas {
	box-shadow: 0 0 5px 0 black;
}

.canvas {
	margin: 0 auto;
	width: 900px;
	display: flex;
	justify-content: center;
}

body {
	background-image: linear-gradient(270deg, rgb(162, 0, 154), rgb(74, 0, 186));
}

.wrapper {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: Arial;
	font-size: 30px;
	font-weight: 700;
	color: white;
	
	pointer-events: none;
	user-select: none;
}

.control {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	font-size: 30px;
}

.description {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-family: Arial;
	font-size: 30px;
	color: white;
	
	pointer-events: none;
	user-select: none;
}